<%
// the gallery photos of theme _config.yml.
var gallery = page.myPerson;
%>

<style>
    /*阅读全文*/
    #contTab{
        display: none;
    }
    .content-more{
        display: none;
    }
    
    
    #contTab:checked ~ #cont{
        max-height: 100px;
        overflow: hidden;
    }
    #contTab:checked ~  .content-more{
        display: block;
        position: relative;
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }
    #contTab:checked ~  .content-more .gradient{
        background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(#fff));
        background-image: -webkit-linear-gradient(top,rgba(255,255,255,0),#fff);
        background-image: linear-gradient(-180deg,rgba(255,255,255,0),#fff);
        height: 80px;
        position: absolute;
        left: 0;
        top: -79px;
        width: 100%;
    }
    #contTab:checked ~  .content-more .readmore{
        display: inline-block;
        background: #0067cb;
        color: #fff;
        width: 175px;
        height: 42px;
        border-radius: 42px;
        line-height: 42px;
        font-size: 16px;
        cursor: pointer;
    }
</style>

<?php

session_start();
if(isset($_SESSION['pushpot'])){

echo '
<input type="checkbox" id="contTab" checked="checked" class="tabbed">

<div id="cont" class="my-person">
    <div class="title center-align" data-aos="zoom-in-up">
        <i class="far fa-image"></i>&nbsp;&nbsp;部门成员
    </div>
    <div class="row">
        <% if (gallery) { %>
        <% Object.keys(gallery).forEach(function(idx) { %>
            <div class="col s12 m6 l2" data-aos="fade-up">
                <div class="info center-align">
                    <div class="photo" data-aos="fade-up">
                        <div class="img-item" data-src="<%- gallery[idx].photo %>">
                            <img src="<%- theme.jsDelivr.url %><%- url_for(gallery[idx].photo) %>" class="responsive-img">
                        </div>
                    </div>
                    <div class="info-title"><%- gallery[idx].name %></div>
                    <div class="info-desc"><%= gallery[idx].nickname %></div>
                    <div class="info-desc"><%= gallery[idx].position %></div>
                    <div class="info-desc"><%= gallery[idx].birthday %></div>
                </div>
            </div>
        <% }); %>
        <% } %>
    </div>
</div>

<div class="content-more"><div class="gradient"></div> <label for="contTab" class="readmore">点击展开所有成员</label></div>
';
}
?>
