<%
// the gallery photos of theme _config.yml.
var gallery = page.myPerson;
%>
<div id="myGallery" class="my-gallery">
    <div class="title center-align" data-aos="zoom-in-up">
        <i class="far fa-image"></i>&nbsp;&nbsp;部门成员
    </div>
    <div class="row">
        <% if (gallery) { %>
        <% Object.keys(gallery).forEach(function(idx) { %>
            <div class="col s12 m6 l4" data-aos="fade-up">
                <div class="info center-align">
                    <div class="img-item" data-src="<%- gallery[idx].photo %>">
                        <img src="<%- theme.jsDelivr.url %><%- url_for(gallery[idx].photo) %>" class="responsive-img">
                    </div>
                    <div class="info-title"><%- gallery[idx].name %></div>
                    <div class="info-desc"><%= gallery[idx].nickname %></div>
                    <div class="info-desc"><%= gallery[idx].position %></div>
                    <div class="info-desc"><%= gallery[idx].birthday %></div>
                </div>
            </div>
        <% }); %>
        <% } %>
    </div>
</div>
