<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>

<%
var intro = page.profile.introduction;
var func = page.myFunctions;
%>

<%- partial('_partial/bg-cover') %>

<main class="content">

    <div id="aboutme" class="container about-container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="post-statis col l4 hide-on-med-and-down" data-aos="zoom-in-right">
                        <%- partial('_partial/post-statis') %>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="profile center-align">
                            <div class="avatar">
                                <img src="<%- theme.jsDelivr.url %><%- url_for(page.profile.avatar) %>" alt="<%- config.author %>"
                                     class="circle responsive-img avatar-img">
                            </div>
                            <div class="author">
                                <div class="post-statis hide-on-large-only" data-aos="zoom-in-right">
                                    <%- partial('_partial/post-statis') %>
                                </div>
                                <div class="title"><%- page.profile.name %></div>
                                <div class="career"><%- page.profile.career %></div>
                                <div class="social-link hide-on-large-only" data-aos="zoom-in-left">
                                    <%- partial('_partial/social-link') %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 hide-on-med-and-down" data-aos="zoom-in-left">
                        <div class="social-link">
                            <%- partial('_partial/social-link') %>
                        </div>
                    </div>
                </div>

                <% if (intro) { %>
                    <% Object.keys(intro).forEach(function(idx) { %>
                        <div class="introduction center-align" data-aos="fade-up"><%= intro[idx] %></div>
                    <% }); %>
                <% } %>

                <% if (page.myGallery && page.myGallery.enable) { %>
                <%- partial('_widget/my-gallery') %>
                <% } %>

                <% if (func && func.enable) { %>
                    <div class="my-projects">
                        <div class="title center-align" data-aos="zoom-in-up">
                            <i class="fas fa-gift"></i>&nbsp;&nbsp;我们的职能
                        </div>
                    </div>
                    <% Object.keys(func.data).forEach(function(idx) { %>
                        <div class="introduction center-align" data-aos="fade-up"><%= func.data[idx] %></div>
                    <% }); %>
                <% } else {%>
                    <%- partial('_widget/my-projects') %>
                <% } %>

                <% if (page.myPerson) { %>
                <%- partial('_widget/persons') %>
                <% } %>

            </div>
        </div>
    </div>
</main>
